---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Cowords | Contador de palabras online gratis by Mashcode">
	<main class="py-6">
		<section class="px-8 max-[661]:px-2 w-vw min-h-vh flex justify-center items-start py-10">
			<div class="w-full flex justify-center items-start max-xl:flex-col">
				<div class="w-full flex justify-center items-start flex-col max-xl:items-center">
					<textarea id="texto" oninput="contar()" class="bg-[#1f222b] resize-y w-full p-5 theme-toggle rounded-xl h-96 border text-white shadow-xl focus:outline-none focus:border-[#ffc212] focus:ring-[#ffc212]focus:ring-1" placeholder="Ingresa el texto aquí"></textarea>
					<button id="delete" onclick="delete_fields()" class="my-3 p-3 bg-[#DC453A] w-full rounded-full text-lg hover:bg-[#E2645B] text-white">Limpiar<i class="fa-regular fa-trash-can mx-2"></i></button>
				</div>

				<div class="w-full px-6">
				<ul class="flex flex-wrap max-lg:justify-center">
					<li class=" w-auto m-2 p-2 bg-[#1f222b] flex flex-col max-w-6xl overflow-hidden bg-opacity-80 backdrop-filter backdrop-blur-sm rounded-lg shadow-2xl text-white">
						<span class="border-b border-zinc-500 py-2 px-4 text-center ">Cantidad de palabras </span> 
						<span class="py-3 px-2 text-center text-lg" id="cantidad-palabras"></span>
					</li>
					<li class=" w-auto m-2 p-2 bg-[#1f222b] flex flex-col max-w-6xl overflow-hidden bg-opacity-80 backdrop-filter backdrop-blur-sm rounded-lg shadow-2xl text-white">
						<span class="border-b border-zinc-500 py-2 px-4 text-center ">Cantidad de caracteres (con espacios) </span> 
						<span class="py-3 px-2 text-center text-lg" id="cantidad-caracteres-con-espacios"></span>
					</li>
					<li class=" w-auto m-2 p-2 bg-[#1f222b] flex flex-col max-w-6xl overflow-hidden bg-opacity-80 backdrop-filter backdrop-blur-sm rounded-lg shadow-2xl text-white">
						<span class="border-b border-zinc-500 py-2 px-4 text-center ">Cantidad de caracteres (sin espacios) </span> 
						<span class="py-3 px-2 text-center text-lg" id="cantidad-caracteres-sin-espacios"></span>
					</li>
					<li class=" w-auto m-2 p-2 bg-[#1f222b] flex flex-col max-w-6xl overflow-hidden bg-opacity-80 backdrop-filter backdrop-blur-sm rounded-lg shadow-2xl text-white">
						<span class="border-b border-zinc-500 py-2 px-4 text-center ">Cantidad de párrafos </span> 
						<span class="py-3 px-2 text-center text-lg" id="cantidad-parrafos"></span>
					</li>
					<li class=" w-auto m-2 p-2 bg-[#1f222b] flex flex-col max-w-6xl overflow-hidden bg-opacity-80 backdrop-filter backdrop-blur-sm rounded-lg shadow-2xl text-white">
						<span class="border-b border-zinc-500 py-2 px-4 text-center ">Cantidad de oraciones </span> 
						<span class="py-3 px-2 text-center text-lg" id="cantidad-oraciones"></span>
					</li>
					<li class=" w-auto m-2 p-2 bg-[#1f222b] flex flex-col max-w-6xl overflow-hidden bg-opacity-80 backdrop-filter backdrop-blur-sm rounded-lg shadow-2xl text-white">
						<span class="border-b border-zinc-500 py-2 px-4 text-center ">Tiempo de lectura estimado </span> 
						<span class="py-3 px-2 text-center text-lg" id="tiempo-lectura"></span>
					</li>
					<li class=" w-auto m-2 p-2 bg-[#1f222b] flex flex-col max-w-6xl overflow-hidden bg-opacity-80 backdrop-filter backdrop-blur-sm rounded-lg shadow-2xl text-white">
						<span class="border-b border-zinc-500 py-2 px-4 text-center ">Porcentaje de palabras largas (7 letras o más) </span> 
						<span class="py-3 px-2 text-center text-lg" id="palabras-largas"></span>
					</li>
					<li class=" w-auto m-2 p-2 bg-[#1f222b] flex flex-col max-w-6xl overflow-hidden bg-opacity-80 backdrop-filter backdrop-blur-sm rounded-lg shadow-2xl text-white">
						<span class="border-b border-zinc-500 py-2 px-4 text-center ">Nivel de legibilidad </span> 
						<span class="py-3 px-2 text-center text-lg" id="legibilidad"></span>
					</li>
					<li class=" w-full m-2 p-2 bg-[#1f222b] flex flex-col rounded-lg text-white">
						<span class="border-b border-zinc-500 py-2 px-4 text-center text-white">Palabras repetidas: </span> 
					<!-- <ul id="palabras-repetidas"></ul> -->
					<div id="palabras-repetidas" class="p-5 bg-[#1f222b] rounded-xl text-white" aria-placeholder="Palabras repetidas"></div>
					</li>
				</ul>
				</div>
			</div>
		</section>
		<section class="p-8 w-vw min-h-vh flex justify-center items-center max-xl:p-3">
			<div class="flex justify-center items-center flex-col p-10 max-xl:p-2 bg-[#1f222b] rounded-3xl bg-opacity-80 backdrop-filter backdrop-blur-sm">
			<img src="https://res.cloudinary.com/primalappsje/image/upload/v1677533496/primal/cowords/cowords-on-action_riqwgl.png" class=" w-80 my-24 max-xl:w-60 max-xl:my-20" alt="Cowords in action">
			<img src="https://res.cloudinary.com/primalappsje/image/upload/v1677529262/primal/logos/logo-cowords_ubn9ju.png"
                alt="Cowords Logo | Contador de palabras online gratis by Mashcode" title="Cowords" class=" w-10 mb-5">
			<h1 class="text-white text-3xl max-xl:text-lg max-xl:text-center">Cowords | Contador de palabras online gratis <span>by  </span>
                <span class='text-[#b0b0b0] mx-0'>M</span>
                <span class='text-[#40B5F5] mx-0'>a</span>
                <span class='text-[#b0b0b0] mx-0'>s</span>
                <span class='text-[#DF5990] mx-0'>h</span>
                <span class='text-[#b0b0b0] mx-0'>c</span>
                <span class='text-[#F5C700] mx-0'>o</span>
                <span class='text-[#b0b0b0] mx-0'>d</span>
                <span class='text-[#E4363D] mx-0'>e</span></h1>
			 <div class="flex justify-center items-center px-10 max-xl:px-0 mb-24 max-xl:flex-col">
				<p class="text-white m-10 bg-[#2e2d33] p-8 rounded-3xl max-xl:m-4 max-xl:text-center shadow-2xl">
				Cowords es una herramienta de conteo de palabras en línea gratuita que te permite contar el número de palabras, caracteres, párrafos y más en tus textos de manera rápida y fácil. Con Cowords, podrás obtener estadísticas de lectura precisas y mejorar tu escritura para que tus textos sean más efectivos y atractivos para tu audiencia.
			 </p>
			 <p class="text-white m-10 bg-[#2e2d33] p-8 rounded-3xl max-xl:m-4 max-xl:text-center shadow-2xl">
				Nuestro contador de palabras es ideal para estudiantes, escritores, periodistas, bloggers y cualquier persona que necesite contar las palabras en sus textos. Pruébalo hoy mismo y mejora tu escritura con Cowords, la mejor herramienta de conteo de palabras, caracteres y párrafos en línea.
			 </p>
			 </div>
			</div>
		</section>
		<section class="p-8 w-vw min-h-vh flex justify-center items-center max-xl:p-3">
			<div class="flex justify-center items-center max-xl:flex-col p-10 max-xl:p-2 bg-[#1f222b] rounded-3xl bg-opacity-80 backdrop-filter backdrop-blur-sm">
				<img src="https://res.cloudinary.com/primalappsje/image/upload/v1677535819/primal/cowords/cowords-how-to-use_vmbhnn.png" class=" w-60 my-24 max-xl:w-40 max-xl:my-20" alt="Config - Instrucciones de como usar Cowords">
				<div class="flex justify-center items-start px-10 max-xl:px-0 flex-col max-xl:items-center">
					<h1 class="text-white text-3xl max-xl:text-lg max-xl:text-center">¿Cómo utilizar el contador de palabras Cowords?</h1>
					<div class="flex justify-center items-center px-10 max-xl:px-0 max-xl:flex-col max-xl:flex-wrap">
						<p class="text-white m-10 bg-[#2e2d33] p-8 rounded-3xl max-xl:m-4 max-xl:text-center shadow-2xl">Para contar palabras, caracteres, párrafos y más con Cowords, simplemente debes copiar y pegar el texto que deseas analizar en la herramienta.</p>
				<p class="text-white m-10 bg-[#2e2d33] p-8 rounded-3xl max-xl:m-4 max-xl:text-center shadow-2xl">Una vez que hayas pegado el texto, Cowords lo analizará de inmediato y te proporcionará estadísticas precisas sobre el número de palabras, caracteres, párrafos y otros datos relevantes. </p>
				<p class="text-white m-10 bg-[#2e2d33] p-8 rounded-3xl max-xl:m-4 max-xl:text-center shadow-2xl">Como el análisis de frecuencia de palabras o el cálculo de tiempo de lectura, así de fácil ya puedes usar el contador de palabras Cowords ¡El conteo de caracteres es pan comido!</p>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<script type="text/javascript" is:inline>
	function contar() {
  var texto = document.getElementById("texto").value;

  var cantidadCaracteres = texto.length;
  var cantidadCaracteresSinEspacios = texto.replace(/\s/g, "").length;

  var palabras = texto.match(/\b\w+\b/g);
  var cantidadPalabras = palabras ? palabras.length : 0;

  var cantidadParrafos = texto.split("\n\n").length;

  var cantidadOraciones = texto.split(/[.!?]+/).length - 1;

  var cantidadPalabrasLargas = 0;

  var cantidadSyllables = 0;

  var palabrasRepetidas = {};
  for (var i = 0; i < palabras.length; i++) {
    var palabra = palabras[i];
    if (palabra in palabrasRepetidas) {
      palabrasRepetidas[palabra]++;
    } else {
      palabrasRepetidas[palabra] = 1;
    }
	if (palabra.length >= 7) { // Palabras de 7 o más letras se consideran largas
            cantidadPalabrasLargas++;
          }
  }
  var palabrasRepetidasDosVeces = {};
  for (var palabra in palabrasRepetidas) {
    if (palabrasRepetidas[palabra] >= 2) {
      palabrasRepetidasDosVeces[palabra] = palabrasRepetidas[palabra];
    }
  }
  var listaPalabrasRepetidas = "";
  for (var palabra in palabrasRepetidasDosVeces) {
    listaPalabrasRepetidas += "[ " + "<span class=\"text-green-400\">" + palabra + "</span>" + " : " + "<span class=\"text-[#b0b0b0]\">" + palabrasRepetidasDosVeces[palabra] + " veces\n " + "</span>" + " ] ";
  }

  var tiempoLecturaMinutos = Math.ceil(cantidadPalabras / 200);
  var porcentajePalabrasLargas = (cantidadPalabrasLargas / cantidadPalabras) * 100;

  for (var i = 0; i < palabras.length; i++) {
    cantidadSyllables += contarSyllables(palabras[i]);
  }

  // Calcular la legibilidad utilizando la fórmula de Flesch-Kincaid
  var legibilidad = 206.835 - 1.015 * (cantidadPalabras / cantidadOraciones) - 84.6 * (cantidadSyllables / cantidadPalabras);
  
  document.getElementById("legibilidad").innerHTML =  legibilidad.toFixed(2);

  document.getElementById("cantidad-palabras").textContent =
     cantidadPalabras;
  document.getElementById("cantidad-caracteres-con-espacios").textContent =
     cantidadCaracteres;
  document.getElementById("cantidad-caracteres-sin-espacios").textContent =
     cantidadCaracteresSinEspacios;
  document.getElementById("cantidad-parrafos").textContent =
     cantidadParrafos;
  document.getElementById("cantidad-oraciones").textContent =
     cantidadOraciones;
  document.getElementById("palabras-repetidas").innerHTML = listaPalabrasRepetidas;
  document.getElementById("tiempo-lectura").textContent =
     tiempoLecturaMinutos + " minutos";
	document.getElementById("palabras-largas").textContent =
	 porcentajePalabrasLargas.toFixed(2) + "%";
}
function contarSyllables(palabra) {
  palabra = palabra.toLowerCase();
  if (palabra.length <= 3) { return 1; }
  palabra = palabra.replace(/(?:[^laeiouy]es|ed|[^laeiouy]e)$/, '');
  palabra = palabra.replace(/^y/, '');
  return palabra.match(/[aeiouy]{1,2}/g).length;
}

function delete_fields(){
	document.getElementById("legibilidad").innerHTML =  ""
	document.getElementById("texto").value =  ""
  document.getElementById("cantidad-palabras").textContent = ""
  document.getElementById("cantidad-caracteres-con-espacios").textContent = ""
  document.getElementById("cantidad-caracteres-sin-espacios").textContent = ""
  document.getElementById("cantidad-parrafos").textContent = ""
  document.getElementById("cantidad-oraciones").textContent = ""
  document.getElementById("palabras-repetidas").textContent = ""
  document.getElementById("tiempo-lectura").textContent = ""
	document.getElementById("palabras-largas").textContent = ""
}
</script>

<style>
	main {
		margin: auto;
		font-family: 'Baloo 2';
		}
</style>
