---

---
<footer class="bg-indigo text-base">
    <div class="footer flex justify-center items-center flex-col p-12">
        <div class="footer-logo">
            <img src="https://res.cloudinary.com/primalappsje/image/upload/v1677529262/primal/logos/logo-cowords_ubn9ju.png"
                alt="Cowords Logo | Contador de palabras online gratis by Mashcode" title="Cowords" class=" w-20 mb-5">
        </div>
        <div class="ctn-by text-center">
            <span class="text-white">Made with love by Mashcode CEO</span>
        </div>
        <div class="ctn-arr text-center">
            <span class="text-white">© 2023 Cowords | All Rights Reserved </span>
        </div>
    </div>
</footer>

<style>
  .bg-indigo{
    background-color: #12121a;
  }
  footer{
    font-family: 'Baloo 2';
  }
</style>